DMInstall/source/bin/*.a
DMInstall/source/bin/spatial
DMInstall/source/bin/service_template
DMInstall/source/bin/libCGAL.so
DMInstall/source/bin/libgdal.so
DMInstall/source/bin/libgeos_c.so
DMInstall/source/bin/libgeos_c.so.1
DMInstall/source/bin/libgeos.so
DMInstall/source/bin/libmpfr.so
DMInstall/source/bin/libproj.so
DMInstall/source/bin/libSFCGAL.so
DMInstall/source/bin/libsqlite3.so

DMInstall/source/license*.txt
DMInstall/source/bin2
DMInstall/source/desktop
DMInstall/source/doc
DMInstall/source/jar
DMInstall/source/jdk
DMInstall/source/log
DMInstall/source/samples
DMInstall/source/tool
DMInstall/source/uninstall
DMInstall/source/uninstall.sh
